body {
  width: 99%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
	font-family:sans-serif;
	font-size:16px;
}
.caller {
  color: blue;
  text-align: center;
  font-family: serif;
}
.answer {
  background: #ccc;
  text-align: center;
  font-family: sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto; 
  border: 1px dotted black;

}
table {
  width: 100%;
}
td {
  border-bottom: 1px solid black;
}
td.noborder {
  border-bottom: none;
}
td.caller { 
  width: 30%;
}
td.answer {
  width: 70%;
}
.page {
  margin-top: 2em; 
  border-top: 2px dashed blue;
  padding-top: 2em;
}
.copyrightnotice {
  font-size: xx-small;
}
h1 { 
  text-align: center;
}
@media print {
  .noprint {
    display: none;
  }
}

#cbdform {
	text-align: center;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 20px;
    border: 2px solid #444;
    border-radius: 4px;    
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#bfb;
    border-color: #4c4;
}

.options {
	margin: 10px;
}

.options input[type="checkbox"] {
	display: none;
	visibility: hidden;
}

#generatebutton input[type="submit"] {
	display: inline-block;
	background-color: #bfb;
	border-radius: 4px;
	padding: 10px 20px;
	border: 1px solid #4c4;
	font-size: 16px;
}

#extradetails {
	height: 0px;
	overflow: hidden;
	margin: 10px;
}

#toggleoptions:checked ~ #extradetails {
	height: auto;
}
label[for=toggleoptions]::before {
  content: "\2295";
}
#toggleoptions:checked ~ label[for=toggleoptions]::before {
  content: "\2296";
}

.numberstuff {
	margin: 10px;
}	
